<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- DEV -->
		<add key="instanceUri" value="https://DEVORG.crm4.dynamics.com/" />
		<add key="instanceName" value="DEV" />
		<add key="clientId" value="APP REG CLIENTID" />
		<add key="clientSecret" value="APP REG SECRET" />

		<!-- TEST -->
		<!--
		<add key="instanceUri" value="https://TESTORG.crm4.dynamics.com/" />
		<add key="instanceName" value="TEST" />
		<add key="clientId" value="APP REG CLIENTID" />
		<add key="clientSecret" value="APP REG SECRET" />
		-->

		<!-- PROD -->
		<!--
		<add key="instanceUri" value="https://PRODORG.crm4.dynamics.com/" />
		<add key="instanceName" value="PROD" />
		<add key="clientId" value="APP REG CLIENTID" />
		<add key="clientSecret" value="APP REG SECRET" />
		-->

	</appSettings>
</configuration>